[Desktop Entry]
Name=Subte
GenericName=GTFS Builder
Comment=Interface for managing public transit data
Exec=subte
Terminal=false
Type=Application
Icon=subte
Categories=Gtk;Transit;Utility;
StartupNotify=true
